
<main id="main" class="main mein">

    <section class="section contact" style="padding-right: 1rem;">

        <div class="row gy-4">
  
          <div class="col-xl-12">
  
            <div class="row">
              <div class="col-lg-4">
                <div class="info-box card" style="cursor: pointer;" routerLink="/limits-create">
                  <i class="bi bi-geo-alt"></i>
                  <h3>LIMITES</h3>
                  <p>Limites de Monitoreo<br></p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="info-box card" style="cursor: pointer;" routerLink="/logs-report">
                  <i class="bi bi-telephone"></i>
                  <h3>LOGS</h3>
                  <p>Logs de Monitoreo<br></p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="info-box card" style="cursor: pointer;" routerLink="/alerts-report">
                  <i class="bi bi-envelope"></i>
                  <h3>ALERTAS</h3>
                  <p>Alertas de Monitoreo<br></p>
                </div>
              </div>
            </div>
  
          </div>
  
          
  
        </div>
  
      </section>
  
  </main><!-- End #main -->